/* contact page Start  */
/* main container satrt */
.ContactMain {
    width: 100%;
    max-width: 1400px;
    height: 350px;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    z-index: -1;
    margin-top: -47px;
}

.ContactMain img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.contact-content {
    z-index: 2;
    color: #000;
}

.contact-content h1 {
    font-size: 55px;
    margin: 0;
    color: white;
    font-weight: 700;
}

.contact-content p {
    font-size: 18px;
    margin: 10px 0 0;
    color: white;
    font-weight: 600;
}

@media (max-width: 768px) {
    .contact-content h1 {
        font-size: 36px;
    }

    .contact-content p {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .ContactMain {
        height: 200px;
    }
}

/* main container nEnd */

/* form start */
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    padding: 20px;
}
.container {
    max-width: 1200px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px #0C359E;
}
.contact-info, .contact-form {
    display: flex;
    flex-wrap: wrap;
}
.contact-info > div, .contact-form > div {
    flex: 1 1 50%;
    padding: 10px;
}
.contact-info {
    margin-bottom: 20px;
}
.contact-info div {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    margin: 10px;
    border-radius: 5px;
    flex: 1 1 calc(50% - 40px);
}
.contact-info div img {
    max-width: 40px;
    margin-right: 20px;
}
.contact-info div p {
    margin: 0;
}
.contact-form {
    display: flex;
    flex-direction: column;
}
.contact-form h2 {
    margin-bottom: 20px;
}
.contact-form form {
    display: flex;
    flex-wrap: wrap;
}
.contact-form form input, .contact-form form textarea {
    width: calc(50% - 20px);
    padding: 10px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.contact-form form textarea {
    width: calc(100% - 20px);
}
.contact-form form button {
    background-color: #0C359E;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: calc(100% - 20px);
    margin: 10px;
}
.contact-form form button:hover {
    background-color: #EE99C2;
}
iframe {
    width: calc(100% - 20px);
    height: 300px;
    border: 0;
    margin: 10px;
}
@media (max-width: 768px) {
    .contact-info > div, .contact-form > div, .contact-form form input, .contact-form form textarea, .contact-form form button, iframe {
        width: calc(100% - 20px);
    }
    .main-container{
        margin-top: 50px;
    }
}

/* contact page End  */




/* about us page start  */
/* Mission section styles */
.mission {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #0C359E;
    padding: 40px 20px;
    text-align: center;
    margin: 10px;
}

.mission h2 {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 700;
}

.mission p {
    font-size: 20px;
    line-height: 30px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .about-us h1 {
        font-size: 32px;
    }

    .about-us p {
        font-size: 16px;
    }

    .mission h2 {
        font-size: 24px;
    }

    .mission p {
        font-size: 16px;
    }
}

/* Our People Start  */
.PeopleContainer{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 40px;
}

p {
    margin-bottom: 20px;
    font-size: 18px;
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.team-member {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    flex: 1 1 300px;
    max-width: 300px;
    text-align: center;
}

.profile-pic {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .team {
        flex-direction: column;
        align-items: center;
    }

    .team-member {
        max-width: none;
        width: 100%;
    }
}
/* Our People end */
/* about us page End  */
